@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Figtree:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Figtree', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(126, 171, 199);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-card {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 300px;
}

.hero-card h1 {
  font-size: 4rem;
  text-align: center;
  color: rgb(87, 125, 174);
  width: 300px;
  font-family: 'DM Serif Display', serif;
}

.hero-card p {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(208, 208, 208);
}

.hero-card div{
  font-family: 'Figtree', sans-serif;
  margin: -25px;
  color: rgba(87, 125, 174, 0.349);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(24, 41, 92);
  text-align: left;
  margin-left: 1rem;
  padding: 1rem;
  font-weight: bold;
}

.footer-right {
  position: fixed;
  margin-right: 1rem;
  padding: 1rem;
  right: 0;
  bottom: 0;
  width: 40px;
}

.github-icon {
  display: inline;
  width: 40px;
}

.my-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: rgb(87, 125, 174);
  font-weight: bold;
  font-family: 'Figtree', sans-serif;
}

.my-link:hover {
  text-decoration: underline;
  color: rgba(87, 125, 174, 0.349);
}
